# Package

In [61]:
import pandas as pd

# Importer les données stationnarisées

In [62]:
df = pd.read_csv("df.csv", index_col="date")
df_stationary = pd.read_csv("df_stationary.csv", index_col="date")

In [63]:
df.head()

,UNRATE,TB3MS,RPI,INDPRO,DPCERA3M086SBEA,S&P 500,BUSLOANS,CPIAUCSL,OILPRICEx,M2SL
date,,,,,,,,,,
1959-01-01,6.0,2.82,2583.560,21.9616,15.188,55.62,35.2130,29.01,3.00,286.6
1959-02-01,5.9,2.70,2593.596,22.3917,15.346,54.77,35.2201,29.00,3.00,287.7
1959-03-01,5.6,2.80,2610.396,22.7142,15.491,56.16,35.1304,28.97,2.97,289.2
1959-04-01,5.2,2.95,2627.446,23.1981,15.435,57.10,35.5581,28.98,2.97,290.1
1959-05-01,5.1,2.84,2642.720,23.5476,15.622,57.96,36.3064,29.04,2.97,292.2

In [64]:
df.index = pd.to_datetime(df.index)
df_stationary.index = pd.to_datetime(df_stationary.index)

# Split les données

In [68]:
end_time_train = "2009-12" # 

df_train = df[df.index <= end_time_train]
df_test = df[df.index > end_time_train]

df_stationary_train = df_stationary[df_stationary.index <= end_time_train]
df_stationary_test = df_stationary[df_stationary.index > end_time_train]

In [69]:
print(df_train.index[-1])
print(df_test.index[0])

print(df_stationary_train.index[-1])
print(df_stationary_test.index[0])

2009-12-01 00:00:00
2010-01-01 00:00:00
2009-12-01 00:00:00
2010-01-01 00:00:00

# Exporter les splits

In [70]:
df_train.to_csv("df_train.csv")
df_test.to_csv("df_test.csv")

df_stationary_train.to_csv("df_stationary_train.csv")
df_stationary_test.to_csv("df_stationary_test.csv")