# Packages

In [2]:
import pandas as pd

# Importation

In [18]:
df_stationary_test = pd.read_csv("df_stationary_test.csv", index_col=0)

In [20]:
df_stationary_test.head()

,UNRATE,TB3MS,RPI,INDPRO,DPCERA3M086SBEA,S&P500,BUSLOANS,CPIAUCSL,OILPRICEx,M2SL,USREC
date,,,,,,,,,,,
1989-12-31,0.1,-0.12,0.006635,0.007767,0.008061,0.003736,-0.018883,0.006323,0.094240,-0.001895,0
1990-01-31,0.0,0.00,0.004408,0.003800,0.013715,-0.021619,-0.018959,0.009405,0.096990,-0.003231,0
1990-02-28,0.1,0.05,0.006496,0.009483,0.008168,-0.029078,-0.012197,0.005360,0.041516,-0.004434,0
1990-03-31,0.2,0.27,0.006635,0.008562,0.003286,-0.029519,-0.000971,0.006099,-0.105768,-0.007359,0
1990-04-30,0.2,0.13,0.010426,0.011548,0.000209,-0.005279,0.013727,-0.005687,-0.317060,-0.005852,0

# Ajouter la variable lags

In [22]:
df_stationary_test["UNRATE_lag12"] = df_stationary_test["UNRATE"]

# Exporter

In [24]:
df_stationary_test.to_csv("df_stationary_test.csv")